* {
    font-family: monospace;
    text-decoration: none;
    text-align: center;
    color: black;
}

body {
    background: rgb(240, 240, 240);
}

h1 {
    margin: 2em 0 1em 0;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    width: 25em;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 3em;
    box-shadow: 0 0 10px 1px lightgray;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 5px lightgray;
}

.img {
    display: flex;
    width: 100% + 2em;
    height: 25em;
    margin-left: -1em;
    margin-right: -1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}

@media screen and (max-width: 768px) {
    a {
        width: 100%;
        margin: 2em;
    }
}