* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #e8f0ea;
    font-family: monospace;
}

#upper {
    display: flex;
    height: 25%;
    font-size: 20vw;
    color: #0E79B2;
    justify-content: center;
    align-items: flex-end;
}

#middle {
    display: flex;
    height: 55%;
    width: 100%;
    align-items: center;
    position: relative;
}

#lower {
    display: flex;
    height: 20%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
}

#pointer {
    width: 0.25rem;
    position: absolute;
    background-color: white;
    z-index: 1;
    left: 0;
}

#pointer, .blue, .green {
    height: 30%;
}

.blue {
    background-color: #0E79B2;
    width: 19.2307692%;
}

.green {
    background-color: #99C24D;
    width: 3.84615385%;
}

#middle>div:last-child {
    width: 11.5384615%;
}

button {
    width: 45%;
    height: 95%;
    border: 0;
    color: black;
    font-size: 6vw;
    line-height: 100%;
    text-align: center;
    background-color: white;
    font-family: monospace;
}

#lower>button:first-child {
    margin-right: 1rem;
}

@media screen and (min-width: 768px) {

    #upper {
        font-size: 8rem;
    }

    #middle {
        width: 80%;
    }

    #pointer, .blue, .green {
        height: 25%;
    }

    button {
        font-size: 2rem;
        height: 6rem;
        width: 18rem;
        box-shadow:0px 0px 20px 0px rgb(220, 220, 220);
        transition: all 0.2s;
    }

    #lower>button:first-child {
        margin-right: 5rem;
    }

    button:hover {
        transform: scale(1.03);
    }

}